extends layout
block section 
 
  h2.page-header 个人资料修改
    small.pull-right#massages-tips 
      !=messages()
  if errors&&errors.length
    div.errors
      each error in errors
        p.alert.alert-danger=error.msg
  form.form-horizontal(method='post',action=`/users/edit/${user._id}`,autocomplete='on')
    div.form-group
      label.col-sm-2.control-label(for='name') * 作者
      .col-sm-10
        input.form-control(name='name',placeholder='请输入作者...',required,value=user.name||'') 
    div.form-group
      label.col-sm-2.control-label(for='email') * 邮箱
      .col-sm-10
        input.form-control(name='email',placeholder='请输入邮箱...',required,value=user.email||'')
    div.form-group
      label.col-sm-2.control-label(for='password') * 密码
      .col-sm-10
        input.form-control(name='password',placeholder='请输入密码...',required,value=user.password||'')

    
    button.btn.btn-info(type='submit') 保存